-- Enable RLS on the table
ALTER TABLE blog_posts ENABLE ROW LEVEL SECURITY;

-- Policy for authenticated users to read all blog posts (admin functionality)
CREATE POLICY \
Users
can
view
all
blog
posts\ ON blog_posts
    FOR SELECT USING (auth.role() = 'authenticated');

-- Policy for users to insert their own blog posts
CREATE POLICY \Users
can
insert
their
own
blog
posts\ ON blog_posts
    FOR INSERT WITH CHECK (auth.uid() = author_id);

-- Policy for users to update their own blog posts
CREATE POLICY \Users
can
update
their
own
blog
posts\ ON blog_posts
    FOR UPDATE USING (auth.uid() = author_id);

-- Policy for users to delete their own blog posts
CREATE POLICY \Users
can
delete
their
own
blog
posts\ ON blog_posts
    FOR DELETE USING (auth.uid() = author_id);
